body.p-achievements.p-profiles .headline, body.p-achievements.p-profiles .subheadline {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6));
    color: #ffe1a7 !important;
}
    .c-genres .block2 .cc-achievements .b-achievement {
    background: rgba(0, 0, 0, 0.5);
  }
