	.p-profiles .profile-head .c-history .entry:hover, .p-topics .l-menu .reviews .entry:hover, .p-topics .l-menu .clubs .entry:hover {
		transform: scale(1);
		padding-left: 0px;
		padding-right: 0px;
		text-decoration: none !important;
		border: none !important;
		background: rgba(var(--shadows-color), 0.15);
		border-radius: 10px;
		box-shadow: none;
	}