    .b-block_list {
      padding-right: 39px;
      background: none;
      border-radius: 15px;
    }

    .p-profiles .profile-head .c-history {
      background: none;
    }

    .b-block_list {
      padding-right: 39px;
      background: none;
      border-radius: 15px;
    }