@media screen and (min-width: 425px) {
	/* Owari no Seraph */
    .Animes_Mangas .c-anime.entry-26243 .image-cutter::after {
        background-image: url("https://i.imgur.com/ZGrAn5W.png");
    }
	
	/* Code Geass */
    .Animes_Mangas .c-anime.entry-1575 .image-cutter::after {
        background-image: url("https://i.imgur.com/2LtIO0h.png");
    }
	
	/* Fate/stay night: Unlimited Blade Works 2nd Season */
    .Animes_Mangas .c-anime.entry-28701 .image-cutter::after {
        background-image: url("https://i.imgur.com/XtWRZGV.png");
    }
	
	/* Death Note */
    .Animes_Mangas .c-anime.entry-1535 .image-cutter::after {
        background-image: url("https://i.imgur.com/TvoKP6q.png");
    }
	
	/* Fate/Apocrypha */
    .Animes_Mangas .c-anime.entry-34662 .image-cutter::after {
        background-image: url("https://i.imgur.com/hpTTk2a.png");
    }
	
	/* Zankyou no Terror */
    .Animes_Mangas .c-anime.entry-23283 .image-cutter::after {
        background-image: url("https://i.imgur.com/SUZ6uFB.png");
    }
	
	/* Neon Genesis Evangelion */
    .Animes_Mangas .c-anime.entry-30 .image-cutter::after {
        background-image: url("https://i.imgur.com/j9dsBty.png");
    }
	
	/* Elfen Lied */
    .Animes_Mangas .c-anime.entry-226 .image-cutter::after {
        background-image: url("https://i.imgur.com/J3P2AAa.png");
    }
	
	/* Psycho-Pass */
    .Animes_Mangas .c-anime.entry-13601 .image-cutter::after {
        background-image: url("https://i.imgur.com/mhwzOTb.png");
    }
	
	/* Aldnoah.Zero */
    .Animes_Mangas .c-anime.entry-22729 .image-cutter::after {
        background-image: url("https://i.imgur.com/DcuNp4T.png");
    }
	
	/* Kakumeiki Valvrave 2nd Season */
    .Animes_Mangas .c-anime.entry-18295 .image-cutter::after {
        background-image: url("https://i.imgur.com/N0EZpFX.png");
    }
	
	/* Akame ga Kill! */
    .Animes_Mangas .c-anime.entry-22199 .image-cutter::after {
        background-image: url("https://i.imgur.com/ujQVLvl.png");
    }
	
	/* Koukaku Kidoutai */
    .Animes_Mangas .c-anime.entry-43 .image-cutter::after {
        background-image: url("https://desu.shikimori.one/system/animes/original/43.jpg");
    }
	
	/* Angel Beats! */
    .Animes_Mangas .c-anime.entry-6547 .image-cutter::after {
        background-image: url("https://i.imgur.com/5nKUd2T.png");
    }
	
	/* Re:Creators */
    .Animes_Mangas .c-anime.entry-34561 .image-cutter::after {
        background-image: url("https://i.imgur.com/NKsZo5U.png");
    }
	
	/* ChaoS;HEAd */
    .Animes_Mangas .c-anime.entry-4975 .image-cutter::after {
        background-image: url("https://i.imgur.com/GlL4oNe.png");
    }
	
	/* Juuni Taisen */
    .Animes_Mangas .c-anime.entry-35076 .image-cutter::after {
        background-image: url("https://i.imgur.com/tZUkiox.png");
    }
	
	/* Kiseijuu: Sei no Kakuritsu */
    .Animes_Mangas .c-anime.entry-22535 .image-cutter::after {
        background-image: url("https://i.imgur.com/7UXd6BJ.png");
    }

}
