@media screen and (min-width: 425px) {
	/* Owari no Seraph */
    .Animes_Mangas .c-anime.entry-26243 .image-cutter::after {
        background-image: url("https://desu.shikimori.one/system/animes/original/26243.jpg");
    }
	
	/* Code Geass */
    .Animes_Mangas .c-anime.entry-1575 .image-cutter::after {
        background-image: url("https://nyaa.shikimori.one/system/animes/original/1575.jpg");
    }
	
	/* Fate/stay night: Unlimited Blade Works 2nd Season */
    .Animes_Mangas .c-anime.entry-28701 .image-cutter::after {
        background-image: url("https://kawai.shikimori.one/system/animes/original/28701.jpg");
    }
	
	/* Death Note */
    .Animes_Mangas .c-anime.entry-1535 .image-cutter::after {
        background-image: url("https://nyaa.shikimori.one/system/animes/original/1535.jpg");
    }
	
	/* Fate/Apocrypha */
    .Animes_Mangas .c-anime.entry-34662 .image-cutter::after {
        background-image: url("https://moe.shikimori.one/system/animes/original/34662.jpg");
    }
	
	/* Zankyou no Terror */
    .Animes_Mangas .c-anime.entry-23283 .image-cutter::after {
        background-image: url("https://desu.shikimori.one/system/animes/original/23283.jpg");
    }
	
	/* Neon Genesis Evangelion */
    .Animes_Mangas .c-anime.entry-30 .image-cutter::after {
        background-image: url("https://nyaa.shikimori.one/system/animes/original/30.jpg");
    }
	
	/* Elfen Lied */
    .Animes_Mangas .c-anime.entry-226 .image-cutter::after {
        background-image: url("https://kawai.shikimori.one/system/animes/original/226.jpg");
    }
	
	/* Psycho-Pass */
    .Animes_Mangas .c-anime.entry-13601 .image-cutter::after {
        background-image: url("https://kawai.shikimori.one/system/animes/original/13601.jpg");
    }
	
	/* Aldnoah.Zero */
    .Animes_Mangas .c-anime.entry-22729 .image-cutter::after {
        background-image: url("https://dere.shikimori.one/system/animes/original/22729.jpg");
    }
	
	/* Kakumeiki Valvrave 2nd Season */
    .Animes_Mangas .c-anime.entry-18295 .image-cutter::after {
        background-image: url("https://nyaa.shikimori.one/system/animes/original/18295.jpg");
    }
	
	/* Akame ga Kill! */
    .Animes_Mangas .c-anime.entry-22199 .image-cutter::after {
        background-image: url("https://dere.shikimori.one/system/animes/original/22199.jpg");
    }
	
	/* Koukaku Kidoutai */
    .Animes_Mangas .c-anime.entry-43 .image-cutter::after {
        background-image: url("https://desu.shikimori.one/system/animes/original/43.jpg");
    }
	
	/* Angel Beats! */
    .Animes_Mangas .c-anime.entry-6547 .image-cutter::after {
        background-image: url("https://moe.shikimori.one/system/animes/original/6547.jpg");
    }
	
	/* Re:Creators */
    .Animes_Mangas .c-anime.entry-34561 .image-cutter::after {
        background-image: url("https://kawai.shikimori.one/system/animes/original/34561.jpg");
    }
	
	/* ChaoS;HEAd */
    .Animes_Mangas .c-anime.entry-4975 .image-cutter::after {
        background-image: url("https://nyaa.shikimori.one/system/animes/original/4975.jpg");
    }
	
	/* Juuni Taisen */
    .Animes_Mangas .c-anime.entry-35076 .image-cutter::after {
        background-image: url("https://kawai.shikimori.one/system/animes/original/35076.jpg");
    }
	
	/* Kiseijuu: Sei no Kakuritsu */
    .Animes_Mangas .c-anime.entry-22535 .image-cutter::after {
        background-image: url("https://nyaa.shikimori.one/system/animes/original/22535.jpg");
    }

}
