/* Смена обложки – A2 */
.Person-0 a[href*="/154019"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/154019.png') 55% 40% / 100%;
}

/* Смена обложки – Jeanne Alter */
.Person-0 a[href*="/154038"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/154038.png') 55% 40% / 100%;
}

/* Смена обложки – Mordred */
.Person-0 a[href*="/55977"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/55977.png') 55% 40% / 100%;
}

/* Смена обложки – Saber */
.Person-0 a[href*="/497"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/497.png') 55% 40% / 100%;
}

/* Смена обложки – Ana */
.Person-0 a[href*="/168968"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/168968.png') 55% 40% / 100%;
}

/* Смена обложки – Re-l Mayer */
.Person-0 a[href*="/643"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/643.png') 55% 40% / 100%;
}

/* Смена обложки – Kurisu Makise */
.Person-0 a[href*="/34470"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/34470.png') 55% 40% / 100%;
}

/* Смена обложки – Rin Tohsaka */
.Person-0 a[href*="/498"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/498.png') 55% 40% / 100%;
}

/* Смена обложки – Violet Evergarden */
.Person-0 a[href*="/141354"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/141354.png') 55% 40% / 100%;
}

/* Смена обложки – Atalanta */
.Person-0 a[href*="/112157"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/112157.png') 55% 40% / 100%;
}

/* Смена обложки – Kurumi Tokisaki */
.Person-0 a[href*="/z70069"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/z70069.png') 55% 40% / 100%;
}

/* Смена обложки – Altair */
.Person-0 a[href*="/148518"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/148518.png') 55% 40% / 100%;
}

/* Смена обложки – Lucy */
.Person-0 a[href*="/738"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/738.png') 55% 40% / 100%;
}

/* Смена обложки – Iona Urazoe */
.Person-0 a[href*="/99841"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/99841.png') 55% 40% / 100%;
}

/* Смена обложки – Akame */
.Person-0 a[href*="/63351"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/63351.png') 55% 40% / 100%;
}

/* Смена обложки – Mumei */
.Person-0 a[href*="/136529"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/136529.png') 55% 40% / 100%;
}

/* Смена обложки – Eto */
.Person-0 a[href*="/112997"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/112997.png') 55% 40% / 100%;
}

/* Смена обложки – Mikaela Hyakuya */
.Person-0 a[href*="/87287"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/87287.png') 55% 40% / 100%;
}

/* Смена обложки – Ryuunosuke Akutagawa */
.Person-0 a[href*="/132571"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/132571.png') 55% 40% / 100%;
}

/* Смена обложки – Urd Geales */
.Person-0 a[href*="/138093"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/138093.png') 55% 40% / 100%;
}

/* Смена обложки – Lacus Welt */
.Person-0 a[href*="/112759"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/112759.png') 55% 40% / 100%;
}

/* Смена обложки – Ferid Bathory */
.Person-0 a[href*="/112757"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/112757.png') 55% 40% / 100%;
}

/* Смена обложки – Ky Luc */
.Person-0 a[href*="/151024"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/151024.png') 55% 40% / 100%;
}

/* Смена обложки – Achilles */
.Person-0 a[href*="/149771"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/149771.png') 55% 40% / 100%;
}

/* Смена обложки – Emiya */
.Person-0 a[href*="/2087"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/2087.png') 55% 40% / 100%;
}

/* Смена обложки – Kurou Yatogami */
.Person-0 a[href*="/64599"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/64599.png') 55% 40% / 100%;
}
