/* Смена обложки – A2 */
.Person-0 a[href*="/154019"] .image-cutter::after {
    background: url('https://i.imgur.com/20Hxmfq.png') 55% 40% / 100%;
}

/* Смена обложки – Jeanne Alter */
.Person-0 a[href*="/154038"] .image-cutter::after {
    background: url('https://i.imgur.com/aCBMo2e.png') 55% 40% / 100%;
}

/* Смена обложки – Mordred */
.Person-0 a[href*="/55977"] .image-cutter::after {
    background: url('https://i.imgur.com/ZjoVQNX.png') 55% 40% / 100%;
}

/* Смена обложки – Saber */
.Person-0 a[href*="/497"] .image-cutter::after {
    background: url('https://i.imgur.com/cGc2r1v.png') 55% 40% / 100%;
}

/* Смена обложки – Ana */
.Person-0 a[href*="/168968"] .image-cutter::after {
    background: url('https://i.imgur.com/M0dbfC9.png') 55% 40% / 100%;
}

/* Смена обложки – Re-l Mayer */
.Person-0 a[href*="/643"] .image-cutter::after {
    background: url('https://i.imgur.com/nJsJbBs.png') 55% 40% / 100%;
}

/* Смена обложки – Kurisu Makise */
.Person-0 a[href*="/34470"] .image-cutter::after {
    background: url('https://i.imgur.com/a1NmAio.png') 55% 40% / 100%;
}

/* Смена обложки – Rin Tohsaka */
.Person-0 a[href*="/498"] .image-cutter::after {
    background: url('https://i.imgur.com/JcPKErY.png') 55% 40% / 100%;
}

/* Смена обложки – Violet Evergarden */
.Person-0 a[href*="/141354"] .image-cutter::after {
    background: url('https://i.imgur.com/ySEGPrO.png') 55% 40% / 100%;
}

/* Смена обложки – Atalanta */
.Person-0 a[href*="/112157"] .image-cutter::after {
    background: url('https://i.imgur.com/E2GQLaC.png') 55% 40% / 100%;
}

/* Смена обложки – Kurumi Tokisaki */
.Person-0 a[href*="/z70069"] .image-cutter::after {
    background: url('https://i.imgur.com/llXZign.png') 55% 40% / 100%;
}

/* Смена обложки – Altair */
.Person-0 a[href*="/148518"] .image-cutter::after {
    background: url('https://i.imgur.com/XSJOy06.png') 55% 40% / 100%;
}

/* Смена обложки – Lucy */
.Person-0 a[href*="/738"] .image-cutter::after {
    background: url('https://i.imgur.com/JAKiJAG.png') 55% 40% / 100%;
}

/* Смена обложки – Iona Urazoe */
.Person-0 a[href*="/99841"] .image-cutter::after {
    background: url('https://kawai.shikimori.one/system/characters/original/99841.jpg?1594925222') 55% 40% / 100%;
}

/* Смена обложки – Akame */
.Person-0 a[href*="/63351"] .image-cutter::after {
    background: url('https://i.imgur.com/bVmyd1j.png') 55% 40% / 100%;
}

/* Смена обложки – Mumei */
.Person-0 a[href*="/136529"] .image-cutter::after {
    background: url('https://i.imgur.com/XybyafG.png') 55% 40% / 100%;
}

/* Смена обложки – Eto */
.Person-0 a[href*="/112997"] .image-cutter::after {
    background: url('https://i.imgur.com/QRXVxzN.png') 55% 40% / 100%;
}
