/* Смена обложки – Mikaela Hyakuya */
.Person-0 a[href*="/87287"] .image-cutter::after {
    background: url('https://i.imgur.com/dRBKi0P.png') 55% 40% / 100%;
}

/* Смена обложки – Ryuunosuke Akutagawa */
.Person-0 a[href*="/132571"] .image-cutter::after {
    background: url('https://i.imgur.com/5EkjibV.png') 55% 40% / 100%;
}

/* Смена обложки – Urd Geales */
.Person-0 a[href*="/138093"] .image-cutter::after {
    background: url('https://i.imgur.com/rnTYu4z.png') 55% 40% / 100%;
}

/* Смена обложки – Lacus Welt */
.Person-0 a[href*="/112759"] .image-cutter::after {
    background: url('https://i.imgur.com/JyS3f2k.png') 55% 40% / 100%;
}

/* Смена обложки – Ferid Bathory */
.Person-0 a[href*="/112757"] .image-cutter::after {
    background: url('https://i.imgur.com/52pavRe.png') 55% 40% / 100%;
}

/* Смена обложки – Ky Luc */
.Person-0 a[href*="/151024"] .image-cutter::after {
    background: url('https://i.imgur.com/98OksXp.png') 55% 40% / 100%;
}

/* Смена обложки – Achilles */
.Person-0 a[href*="/149771"] .image-cutter::after {
    background: url('https://i.imgur.com/I9SjuLw.png') 55% 40% / 100%;
}

/* Смена обложки – Emiya */
.Person-0 a[href*="/2087"] .image-cutter::after {
    background: url('https://i.imgur.com/3tjjYhy.png') 55% 40% / 100%;
}

/* Смена обложки – Kurou Yatogami */
.Person-0 a[href*="/64599"] .image-cutter::after {
    background: url('https://i.imgur.com/xlvV0Ew.png') 55% 40% / 100%;
}

