/* Смена обложки – Mikaela Hyakuya */
.Person-0 a[href*="/87287"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/87287.png') 55% 40% / 100%;
}

/* Смена обложки – Ryuunosuke Akutagawa */
.Person-0 a[href*="/132571"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/132571.png') 55% 40% / 100%;
}

/* Смена обложки – Urd Geales */
.Person-0 a[href*="/138093"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/138093.png') 55% 40% / 100%;
}

/* Смена обложки – Lacus Welt */
.Person-0 a[href*="/112759"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/112759.png') 55% 40% / 100%;
}

/* Смена обложки – Ferid Bathory */
.Person-0 a[href*="/112757"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/112757.png') 55% 40% / 100%;
}

/* Смена обложки – Ky Luc */
.Person-0 a[href*="/151024"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/151024.png') 55% 40% / 100%;
}

/* Смена обложки – Achilles */
.Person-0 a[href*="/149771"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/149771.png') 55% 40% / 100%;
}

/* Смена обложки – Emiya */
.Person-0 a[href*="/2087"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/2087.png') 55% 40% / 100%;
}

/* Смена обложки – Kurou Yatogami */
.Person-0 a[href*="/64599"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Characters/64599.png') 55% 40% / 100%;
}

