@media screen and (min-width: 425px) {
	/* Owari no Seraph */
    .Animes_Mangas .c-manga.entry-43661 .image-cutter::after {
        background-image: url("https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Manga/43661.png");
    }
	
	/* Tokyo Ghoul:re */
    .Animes_Mangas .c-manga.entry-81117 .image-cutter::after {
        background-image: url("https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Manga/81117.png");
    }
		
	/* NieR: Automata */
    .Animes_Mangas .c-manga.entry-108495 .image-cutter::after {
        background-image: url("https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Manga/108495.png");
    }
		
	/* Fullmetal Alchemist */
    .Animes_Mangas .c-manga.entry-25 .image-cutter::after {
        background-image: url("https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Manga/25.png");
    }
			
	/* Bungou Stray Dogs */
    .Animes_Mangas .c-manga.entry-56529 .image-cutter::after {
        background-image: url("https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Manga/56529.png");
    }
				
	/* Tokyo Ghoul */
    .Animes_Mangas .c-manga.entry-33327 .image-cutter::after {
        background-image: url("https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Manga/33327.png");
    }
					
	/* Code Geass: Hangyaku no Lelouch */
    .Animes_Mangas .c-manga.entry-1528 .image-cutter::after {
        background-image: url("https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Manga/1528.png");
    }
					
	/* Shaman King */
    .Animes_Mangas .c-manga.entry-50 .image-cutter::after {
        background-image: url("https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Manga/50.png");
    }
		/* Citrus */
    .Animes_Mangas .c-manga.entry-50145 .image-cutter::after {
        background-image: url("https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/Manga/50145.png");
    }
	
}
