/* Смена обложки – Keiichi Okabe */
.Person-P a[href*="/42543"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/People/42543.png') 55% 40% / 100%;
}

/* Смена обложки – Hiroyuki Sawano */
.Person-P a[href*="/8509"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/People/8509.png') 55% 40% / 100%;
}

/* Смена обложки – Takaya Kagami */
.Person-P a[href*="/11437"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/People/11437.png') 55% 40% / 100%;
}

/* Смена обложки – Saori Hayami */
.Person-P a[href*="/869"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/People/869.png') 55% 40% / 100%;
}

/* Смена обложки – Aoi Yuuki */
.Person-P a[href*="/6686"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/People/6686.png') 55% 40% / 100%;
}

/* Смена обложки – Kana Hanazawa */
.Person-P a[href*="/185"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/People/185.png') 55% 40% / 100%;
}

/* Смена обложки – Sui Ishida */
.Person-P a[href*="/15753"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/People/15753.png') 55% 40% / 100%;
}

/* Смена обложки – Ilya Kuvshinov */
.Person-P a[href*="/48918"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/People/48918.png') 55% 40% / 100%;
}

/* Смена обложки – Nobuo Uematsu */
.Person-P a[href*="/5150"] .image-cutter::after {
    background: url('https://raw.githubusercontent.com/itstajiri/shikimori-addons/master/Covers/People/5150.png') 55% 40% / 100%;
}
