	  /* Chrome/Opera/Safari */
	  ::-webkit-input-placeholder {
		color:  #1C00ff00!important;
		transition: 0.5s ease-out;
	  }
	  
			.l-top_menu-v2:hover ::-webkit-input-placeholder {
			  color: #dddddd!important;
			  transition: 0.5s ease-out;
			}
	  
	  /* Firefox 19 */
	  ::-moz-placeholder {
		transition: 0.5s ease-out;
		color:  #1C00ff00!importantt;
	  }
	  
			.l-top_menu-v2:hover ::-moz-placeholder {
			  transition: 0.5s ease-out;
			  color: #dddddd !important;
			}
	  
	  /* IE 10 */
	  ::-ms-input-placeholder {
		color:  #1C00ff00!important;
		transition: 0.5s ease-out;
	  }
	  
			.l-top_menu-v2:hover ::-ms-input-placeholder {
			  color: #dddddd !important;
			  transition: 0.5s ease-out;
			}

	  
	  /* Firefox 18 */
	  ::-moz-placeholder {
		color:  #1C00ff00!important;
		transition: 0.5s ease-out;
	  }
	  
			.l-top_menu-v2:hover ::-moz-placeholder {
			  color: #dddddd !important;
			  transition: 0.5s ease-out;
			}
 
  body.p-achievements.p-profiles .l-footer:before {
    content: "Orig. Design by grin3671 | Redesigned by EngiNier | modified by tajiri" !important;
    color: #ffd78c;
  }
  
  body.p-achievements.p-profiles .l-top_menu-v2 {
    background: rgba(var(--menu-back), 0.2);
    box-shadow: 0 1px 10px 10px rgba(var(--menu-back), 0.2) !important;
	transition: 0.3s ease-in-out;
    border-bottom: unset;
  }
   body.p-achievements.p-profiles .l-top_menu-v2:hover {
    background: rgba(var(--menu-back), 0.6) !important;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3) !important;
  }
  
  body.p-achievements.p-profiles .l-top_menu-v2 .menu-icon:hover, body.p-achievements.p-profiles .l-top_menu-v2 .menu-dropdown:hover > span, body.p-achievements.p-profiles .l-top_menu-v2 .menu-icon.active, body.p-achievements.p-profiles .l-top_menu-v2 .menu-icon:focus, body.p-achievements.p-profiles .l-top_menu-v2 .menu-dropdown.active > span, body.p-achievements.p-profiles .l-top_menu-v2 .menu-dropdown > span:focus {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  body.p-achievements.p-profiles .l-top_menu-v2 .submenu, body.p-achievements.p-profiles .l-top_menu-v2 .l-top_menu-v2 .global-search .search-results, body.p-achievements.p-profiles .l-top_menu-v2 .l-top_menu-v2 .menu-dropdown > span a:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  body.p-achievements.p-profiles .l-top_menu-v2 .global-search .search-results, body.p-achievements.p-profiles .l-top_menu-v2 .menu-dropdown > span a:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  body.p-achievements.p-profiles .l-top_menu-v2 .global-search .search-results .nothing_found.active:before, body.p-achievements.p-profiles .l-top_menu-v2 .global-search .search-results .nothing_found:focus:before, body.p-achievements.p-profiles .l-top_menu-v2 .global-search .search-results .b-db_entry-variant-list_item.active:before, body.p-achievements.p-profiles .l-top_menu-v2 .global-search .search-results .b-db_entry-variant-list_item:focus:before, body.p-achievements.p-profiles .l-top_menu-v2 .global-search .search-results .search-mode.active:before, body.p-achievements.p-profiles .l-top_menu-v2 .global-search .search-results .search-mode:focus:before {
    background: #bd9851;
  }
  
  body.p-achievements.p-profiles .l-top_menu-v2.is-search-focus .global-search .search-marker {
    color: rgba(var(--dark-color), var(--hundred));
  }
  
  body.p-achievements.p-profiles .l-top_menu-v2 .global-search .search-results .nothing_found.active, body.p-achievements.p-profiles .l-top_menu-v2 .global-search .search-results .nothing_found:focus, body.p-achievements.p-profiles .l-top_menu-v2 .global-search .search-results .b-db_entry-variant-list_item.active, body.p-achievements.p-profiles .l-top_menu-v2 .global-search .search-results .b-db_entry-variant-list_item:focus, body.p-achievements.p-profiles .l-top_menu-v2 .global-search .search-results .search-mode.active, body.p-achievements.p-profiles .l-top_menu-v2 .global-search .search-results .search-mode:focus, body.p-achievements.p-profiles .l-top_menu-v2 .submenu > a.active, body.p-achievements.p-profiles .l-top_menu-v2 .submenu > a:hover, body.p-achievements.p-profiles .l-top_menu-v2 .submenu > a.active:hover {
    background: linear-gradient(270deg,  rgba(var(--hover-buttoms-1), var(--hundred)) 0%,  rgba(var(--hover-buttoms-1), var(--hundred)) 100%);
  }


body.p-achievements.p-profiles .headline, body.p-achievements.p-profiles .subheadline {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6));
    color: #ffe1a7 !important;
}
    .c-genres .block2 .cc-achievements .b-achievement {
    background: rgba(0, 0, 0, 0.5);
  }
