.s-container .b-catalog_entry {
  overflow: hidden;
}

.s-container .b-catalog_entry .cover .title.two_lined {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  max-height: none;
  margin-top: 0;
  padding: 1.5rem 0.375rem 0.375rem 0.375rem;
  background: rgba(0, 0, 0, 0.5);
  color: #FAFAFA !important;
  line-height: 1.5rem;
  font-size: 0.8125rem;
  text-align: center;
  transition: 160ms ease-in-out;
  opacity: 0;
}

.s-container .b-catalog_entry:hover .cover .title.two_lined {
  padding-top: 0.375rem;
  text-decoration: none;
  opacity: 1;
}

.s-container .cc-9-g15 > .c-column,
.s-container .cc-8-g15 > .c-column,
.s-container .cc-7-g15 > .c-column,
.s-container .cc-6-g15 > .c-column {
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .s-container .cc-9-g15 > .c-column,
  .s-container .cc-8-g15 > .c-column,
  .s-container .cc-7-g15 > .c-column,
  .s-container .cc-6-g15 > .c-column {
    margin-bottom: 15px;
  }
}
