@media screen and (min-width: 1200px) {
   .button-right-1:hover,
   .button-right-2:hover,
   .button-right-3:hover,
   .button-right-4:hover {
      right: -10px;
      z-index: 60;
      opacity: 0.8;
      background-color: rgba(var(--menu-back), 0.55) !important;
   }
   .button-right-1,
   .button-right-2,
   .button-right-3,
   .button-right-4 {
      position: fixed;
      height: 50px;
      box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.0);
      border: 1px solid rgba(var(--menu-back), 1);
      background-color: rgba(var(--menu-back), 0.25) !important;
      text-shadow: 0 1px 2px #00000040;
      border-radius: 1rem 0 0 1rem;
      z-index: 20;
      opacity: 0.8;
      transition: 1s ease, background-position 0s, border 0s, border-radius 0s;
   }
   .button-right-1 {
      top: 13rem; 
      right: -100px;
      width: 160px;
      background: url("https://i.imgur.com/mV55m7K.png") no-repeat left 5px center / 25%;
   }
   .button-right-2 {
      top: 16.7rem;
      right: -100px;
      width: 160px;
      background: url("https://i.imgur.com/QceuTBb.png") no-repeat left 5px center / 25%;
   }
   .button-right-3 {
      top: 20.4rem;
      right: -140px;
      width: 200px;
      background: url("https://i.imgur.com/k81LNUp.png") no-repeat left 5px center / 20%;
   }
   .button-right-4 {
      top: 24.1rem;
      right: -140px;
      width: 200px;
      background: url("https://i.ibb.co/qFmMFzK/like.png") no-repeat left 5px center / 20%;
   }
   .button-right-1 .b-link,
   .button-right-2 .b-link,
   .button-right-3 .b-link,
   .button-right-4 .b-link {
      display: flex;
      align-items: center;
      height: 100% !important;
      font-size: 16px !important;
      color: rgba(var(--dark-color), var(--hundred)) !important;
      justify-content: center;
   }
   .button-right-1 .b-link {
      padding-left: 3rem;
   }
   .button-right-2 .b-link {
      padding-left: 3.3rem;
   }
   .button-right-3 .b-link {
      padding-left: 3rem;
   }
   .button-right-4 .b-link {
      padding-left: 3rem;
   }
}
@media screen and (max-width: 1200px) {
   .button-right-1,
   .button-right-2,
   .button-right-3,
   .button-right-4 {
      display: none;
   }
}
